.bi-whatsapp {
    color: green;
}

.bi-twitter {
    color: #00acee;
}

.bi-instagram {
    color: #FF00FF;
}

.bi-facebook {
    color: #3b5998;
}

.bi-envelope-fill {
    color: #FF0000;
}